---
const {animationdirection="fade-right"} = Astro.props;
---

<article  data-aos={animationdirection}  class="hidden md:flex logo w-full  justify-center items-center text-left">
  <a href="/" class="flex flex-col text-left *:font-normal text-[--secundary-color] relative ">
    <h1 class="text-[8.1vw] font-FjallaOne tracking-tight lg:tracking-[-9.5px] ">Nearshoring News</h1>
    <h4 class="text-[2.3vw] absolute top-[73%] bottom-0">We bring markets closer</h4>
  </a>
</article>


<style>
    .logo{
         padding-block: 1rem;
         writing-mode: horizontal-tb;
    }
</style>