---
const {
  animationdirection = "fade-right",
  textColor = "[--secundary-color]",
  fontSize = "",
  fontSizeSlogan = "",
  isMobile = false,
} = Astro.props;
---

{
  isMobile ? (
    <a
      data-aos={animationdirection}
      href="/"
      class={`flex  w-fit flex-col font-normal text-${textColor} relative`}
    >
        <img
        class="logo__img--mobile"
        src="/img/logo/nearShoringLogoBlack.svg"
        alt="Logo Near shoring"
        aria-label="Nearshoring Logo"
      />
    </a>
  ) : (
    <a data-aos={animationdirection} href="/" class={`logo hidden md:flex flex-col`}>
      <img
        class="logo__img"
        src="/img/logo/nearShoringLogoBlack.svg"
        alt="Logo Near shoring"
        aria-label="Nearshoring Logo"
      />
    </a>
  )
}
