---
import ImageLazy from "@components/extras/ImageLazy.astro";

const {
  animationdirection = "fade-right",
  textColor = "[--secundary-color]",
  fontSize = "",
  fontSizeSlogan = "",
  isMobile = false,
} = Astro.props;
---

{
  isMobile ? (
    <a
      data-aos={animationdirection}
      href="/"
      class={`flex  w-fit flex-col pt-1 font-normal text-${textColor} relative w-[20%] min-w-[60vw]`}
    >
        <ImageLazy
            src="/img/logo/nearShoringLogoBlack.svg"
            width="200"
            height="114"
            className="pt-12 relative "
            classNameImage="logo__img--mobile"
            slot="image"
          />
    </a>
  ) : (
    <a data-aos={animationdirection} href="/" class={`logo hidden md:flex flex-col w-[70%] max-w-[50rem] 2xl:max-w-[55rem]`}>
      <ImageLazy
            src="/img/logo/nearShoringLogoBlack.svg"
            width="200"
            height="114"
            className="pt-[30%] relative "
            classNameImage="h-full logo__img"
            slot="image"
          />
    </a>
  )
}