---
const { title="Title" } = Astro.props;
---


<div class="flex justify-center items-center w-full border-[--secundary-color]  border-t-4 border-b self-center mt-10 max-w-[1300px]">
    <div class="self-start w-full pt-10 pb-4">
        <h2 class=" text-left  text-3xl font-extrabold text-[--guardsman-red-500]">{title}</h2>
    </div>
</div>