---
import Button from "../Button/Button.astro";

const {direction="flex-col"} = Astro.props;
---
<script >
    import {  handleBlur, handleSubmit } from '@controllers/emailValidation.controller.js';

    const form = document.getElementById("subscribe-form") as HTMLFormElement;
    handleSubmit(form);
    handleBlur(form);
  </script>

<form
id="subscribe-form"
method="POST"
action="/"
class={`flex flex-1 ${direction} gap-3`}
novalidate
>
<label class="text-[--main-color]" for="email">Email</label>
<input type="email" id="email" name="email" required />
<span class="text-sm text-red-600 hidden" id="email-error"></span>

<label for="terms" class="flex items-center space-x-2">
  <input
    type="checkbox"
    id="terms"
    name="terms"
    class="form-checkbox checked:accent-guardsman-red-700"
    required
  />
  <span class="text-xs text-white">Aceptar términos y condiciones</span>
</label>
<span class="text-sm text-red-600 hidden" id="terms-error"></span>

<Button text="Suscribirse" ID="send-btn" type="submit" />
</form>