---
import Button from "../Button/Button.astro";

const {direction="flex-col", color= "white" } = Astro.props;
---
<script >
    import {  handleBlur, handleSubmit } from '@controllers/emailValidation.controller.js';

    const form = document.getElementById("subscribe-form") as HTMLFormElement;
    handleSubmit(form);
    handleBlur(form);
  </script>

<form
id="subscribe-form"
method="POST"
action="/"
class={`flex flex-1 ${direction} gap-3`}
novalidate
>
<label class="text-[--main-color]" for="email">Email</label>
<input type="email" id="email" name="email" required />
<span class="text-sm text-red-600 hidden" id="email-error"></span>

<label for="terms" class="flex items-center space-x-2">
  <input
    type="checkbox"
    id="terms"
    name="terms"
    class="form-checkbox checked:accent-guardsman-red-700"
    required
  />
  <span class={`text-xs text-${color}`}>Aceptar términos y condiciones</span>
</label>
<span class="text-sm text-red-600 hidden" id="terms-error"></span>

<Button text="Suscribirse" ID="send-btn" type="submit" />
</form>

<style >
  input[type="checkbox"] {
    outline-color: var(--guardsman-red-700);
    outline-width: 0.5px;
    border: 1px solid var(--guardsman-red-700);
  }
  input[type="checkbox"]:checked {
    background-color: var(--guardsman-red-700);
  }
  .hidden {
    display: none;
  }
</style>