/* Light Mode */
:root {
  --secundary-color: #1b1b1b, ;
  --main-color: #f4f4f4;
  --text-color: #333;
  --accent-color: #8F0101;
  --background-glass: #000000d6;
  --divider-secundary: rgb(38 38 38 / 23%);

  --slogan-text: #1d1d1b;
  /* Guardsman Red Palette */
  --guardsman-red-50: #ffefef;
  --guardsman-red-100: #ffdcdc;
  --guardsman-red-200: #ffbfbf;
  --guardsman-red-300: #ff9292;
  --guardsman-red-400: #ff5454;
  --guardsman-red-500: #BA0000;
  --guardsman-red-600: #ca0303;
  --guardsman-red-700: #8F0101;
  --guardsman-red-800: #8F0101;
  --guardsman-red-900: #8F0101;
  --guardsman-red-950: #8F0101;

  /* Buttons background color */
  --button-base: var(--guardsman-red-500);
  --button-hover: var(--guardsman-red-600);
  --button-active: var(--guardsman-red-700);
  --button-disable: var(--guardsman-red-50);

  /* Buttons color */
  --button-disable-color: var(--guardsman-red-400);
  --button-color: var(--guardsman-red-50);
  /* Fonts  */
  --font-vremena: 'VremenaGrotesk', sans-serif;
  --font-vremena-bold: 'VremenaGroteskBold', sans-serif;
}

/* Dark Mode */

.dark:root {

  --main-color: #090909;
  --text-color: #d8d8d8;
  /* Dark background */
  --secundary-color: #fafafa;
  --divider-secundary: rgba(118, 118, 118, 0.348);

}




@font-face {
  font-family: 'VremenaGrotesk';
  src: url('/fonts/VremenaGrotesk.otf') format('opentype');
}

@font-face {
  font-family: 'VremenaGroteskBold';
  src: url('/fonts/VremenaGroteskBold.otf') format('opentype');
}

@font-face {
  font-family: 'FjallaOne-Regular';
  src: url('/fonts/FjallaOne-Regular.otf') format('opentype');
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: sans-serif;
  line-height: 1.15;
}

body {
  width: 100%;
  overflow-wrap: break-word;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Work Sans', sans-serif;
  background-color: var(--main-color);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-font-kerning: normal;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  -moz-font-variant-ligatures: common-ligatures;
  -webkit-font-variant-ligatures: common-ligatures;
  font-variant-ligatures: common-ligatures;
  line-height: 1;
  text-rendering: optimizelegibility;
}

ul li {
  list-style: none;
}


h2 {
  font-family: "Merriweather", 'serif';
  font-weight: 700;
}

p {
  line-height: 1.5;
}


#blog > h2:not(.swiper-slide h2) {
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--guardsman-red-500);
}

#blog > h3 {
  font-weight: 700;
  font-size: 1.3rem;
  color: var(--guardsman-red-500);
}

#blog > h4 {
  font-weight: 700;
  font-size: 1.1rem;
  color: var(--guardsman-red-500);
}

#blog > h5 {
  font-weight: 700;
  font-size: 1.1rem;
  color: var(--guardsman-red-500);
}

#blog > h6 {
  font-weight: 700;
  font-size: 1rem;
  color: var(--guardsman-red-500);
}

#blog > a {
  color: var(--guardsman-red-800);
  font-style: italic;
  text-decoration: underline;
  cursor: pointer;
  font-weight: 700;
}

#blog > ul li {
  list-style: disc;
  padding-left: 5px;
  margin-bottom: .9rem;
}

#blog > ol li {
  list-style: decimal;
  padding-left: 5px;
}

#blog > p {
  text-align: left;
  margin-top: 1rem;
  text-wrap: wrap;
}

#blog {
  blockquote {
    border-left: 10px solid var(--guardsman-red-800);
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C" "\201D" "\2018" "\2019";
  }

  blockquote:before {
    color: var(--text-color);
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }

  blockquote p {
    display: inline;
  }
}





.glassmorphism {
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px);
  background: var(--background-glass);
}

#terms {
  outline-color: var(--guardsman-red-700);
  outline-width: 0.5px;
  border: 1px solid var(--guardsman-red-700);
}

#terms:checked {
  background-color: var(--guardsman-red-700);
}










/* Carrusel infinito uso general (el de divisas se encuentra con su componente)*/

.slider {
  width: 90%;
  margin: auto;
  height: auto;
  overflow: hidden;
  position: relative;
}

.slider > div {
  flex: 0 0 auto;
}

.slider::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 150px;
  height: 100%;
  background: linear-gradient(to right,
      var(--main-color)0%,
      rgba(255, 255, 255, 0) 100%);

  @media screen and (max-width: 768px) {
    width: 60px;

  }
}

.slider::after {
  content: "";
  position: absolute;
  width: 150px;
  height: 100%;
  background: linear-gradient(to right,
      var(--main-color) 0%,
      rgba(255, 255, 255, 0) 100%);
  z-index: 2;
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

@media screen and (max-width: 768px) {

  .slider::before,
  .slider::after {
    width: 52px
  }
}




.slide__track {
  display: flex;
  gap: 1.5rem;
  justify-content: space-around;
  padding: 3rem 0;
  height: auto;
  width: max-content;
  min-width: 200rem;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
  animation: scroll 19s linear infinite;
}

.slide__track:has(> .slide:hover) {
  animation-play-state: paused;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

/* Animaciones CARD PRINCIPAL */

.img__container {
  position: relative;
}

.img__container::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  transform: scale(0);
  transform-origin: 1;
  height: 4px;
  transition: 1s transform;
  background: #901704;
}

.card:hover .img__container::after {
  transform: scale(1);
}

@media screen and (max-width: 768px) {

  .main-title,
  .ecerpts {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ''
  }
}