---
import Button from "@components/atoms/Button/Button.astro";
import ImageLazy from "@components/extras/ImageLazy.astro";
import ItemNews from "@components/extras/ItemNews.astro";
import ItemNewsWithDesc from "@components/extras/ItemNewsWithDesc.astro";
import ItemVideoNews from "@components/extras/ItemVideoNews.astro";
import Swiper from "@components/extras/Swiper.astro";
import SwiperItem from "@components/extras/SwiperItem.astro";
import LayoutPost from "@src/layouts/LayoutPost.astro";

// Video URL a insertar en el iframe
const videourl = "https://www.youtube.com/watch?v=BjPsA8O3-EQ";

const videoId = videourl.split("v=")[1];
const embed = `https://www.youtube.com/embed/${videoId}`;
---

<LayoutPost title={`Blog`}>
  <div
    class="w-full 2xl:mt-15 sm:mt-10 px-3 flex flex-wrap m-auto xl:max-w-[1100px] 2xl:max-w-[1300px] mt-24"
  >
    <div
      class="h-full w-full text-[--primary-text-color] space-y-4 flex flex-col gap-10 justify-between"
    >
      <h1 class="text-4xl text-center font-bold">
        Avistamiento de oso panda pardo
      </h1>
      <p>
        <strong>El avistamiento</strong>
        <strong>del oso panda pardo</strong> se produjo el pasado 17 de enero, cuando
        una cámara infrarroja colocada en la Reserva Nacional de la Naturaleza de
        Changqing logró capturar la imagen de este ejemplar único. Cabe mencionar
        que es la primera vez que se observa un panda pardo en esta zona desde el
        año 2018, lo que resalta la importancia de este hallazgo para la investigación
        y conservación de la especie.
      </p>
    </div>
  </div>

  <div
    id="blog"
    class="w-full 2xl:mt-15 sm:mt-10 px-3 flex flex-wrap m-auto xl:max-w-[1100px] 2xl:max-w-[1300px] mt-24"
  >
    <!-- Main article -->
    <div
      class="h-full w-full text-[--primary-text-color] space-y-4 flex flex-col gap-10 justify-between"
    >
    <iframe
    class="w-full h-[500px] md:h-[400px] lg:h-[500px] xl:h-[600px] 2xl:h-[700px]"
    src={embed}
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>

      <!-- SHARE BTNS MOBILE -->
      <div class="flex flex-col md:hidden itemscenter">
        <h5
          class="text-sm my-3 bg-[#000000] dark:bg-slate-900 text-white hover:text-guardsman-red-800 rounded-md p-1 w-fit"
        >
          Compartir:
        </h5>
        <ul class="p-2 flex items-center gap-4">
          <li
            class="w-8 h-8 mr-2 bg-guardsman-red-500 rounded-full hover:scale-105"
          >
            <a
              href="#"
              class="inline-flex items-center justify-center w-full h-full *:fill-white"
              target="_blank"
              rel="nofollow"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="fill-[--guardsman-red-700]"
                width="10"
                height="16"
                viewBox="0 0 20 32"
                data-astro-cid-dv46nlzh
                ><path
                  d="M17.446 18h-4.668v14H6.517V18H1.43v-5.791h5.087V7.795C6.517 2.774 9.508 0 14.084 0c2.192 0 4.484.391 4.484.391v4.931h-2.526c-2.489 0-3.265 1.544-3.265 3.129v3.758h5.557z"
                  data-astro-cid-dv46nlzh></path></svg
              >
            </a>
          </li>
          <li
            class="w-8 h-8 mr-2 bg-guardsman-red-500 rounded-full hover:scale-105"
          >
            <a
              href="#"
              class="inline-flex items-center justify-center w-full h-full *:fill-white"
              target="_blank"
              rel="nofollow"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="fill-[--guardsman-red-700]"
                width="14"
                height="14"
                viewBox="0 0 32 32"
                data-astro-cid-dv46nlzh
                ><path
                  d="M24.324 3h4.414l-9.636 11.012L30.437 29h-8.875l-6.957-9.086L6.656 29H2.238l10.305-11.781L1.676 3h9.097l6.282 8.305Zm-1.55 23.363h2.445L9.445 5.5H6.82Zm0 0"
                ></path></svg
              >
            </a>
          </li>
          <li
            class="w-8 h-8 mr-2 bg-guardsman-red-500 rounded-full hover:scale-105"
          >
            <a
              href="#"
              class="inline-flex items-center justify-center w-full h-full *:fill-white"
              target="_blank"
              rel="nofollow"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="fill-[--guardsman-red-700]"
                width="14"
                height="14"
                viewBox="0 0 32 32"
                ><path
                  d="M6.268 28H.463V9.306h5.805V28zM3.362 6.756C1.506 6.756 0 5.219 0 3.362a3.362 3.362 0 0 1 6.724 0c0 1.856-1.506 3.394-3.362 3.394zM27.994 28h-5.793v-9.1c0-2.169-.044-4.95-3.018-4.95-3.018 0-3.481 2.356-3.481 4.794V28H9.903V9.306h5.567v2.55h.081c.775-1.469 2.668-3.019 5.492-3.019 5.875 0 6.955 3.869 6.955 8.894V28h-.006z"
                ></path></svg
              >
            </a>
          </li>
          <li
            class="w-8 h-8 mr-2 bg-guardsman-red-500 rounded-full hover:scale-105"
          >
            <a
              href="#"
              class="inline-flex items-center justify-center w-full h-full *:fill-white"
              target="_blank"
              rel="nofollow"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="fill-[--guardsman-red-700]"
                width="14"
                height="14"
                width="32"
                height="32"
                viewBox="0 0 32 32"
                ><path
                  d="M23.806 6.069C26.425 8.694 28 12.175 28 15.882c0 7.65-6.363 13.875-14.006 13.875h-.006c-2.325 0-4.606-.581-6.631-1.688L.001 30l1.969-7.188a13.885 13.885 0 0 1-1.85-6.938c0-7.65 6.225-13.875 13.875-13.875 3.706 0 7.194 1.444 9.812 4.069zm-9.812 21.35c6.356 0 11.662-5.175 11.662-11.538.006-3.081-1.331-5.975-3.506-8.156S17.081 4.344 14 4.344c-6.362 0-11.537 5.175-11.537 11.531 0 2.181.606 4.3 1.762 6.138l.275.438-1.162 4.256L7.7 25.563l.419.25a11.512 11.512 0 0 0 5.875 1.606zm6.325-8.638c.344.169.575.256.656.412.088.144.088.838-.2 1.65s-1.669 1.55-2.338 1.65c-1.1.162-1.963.081-4.162-.869-3.481-1.506-5.75-5.006-5.925-5.238-.169-.231-1.412-1.881-1.412-3.588s.894-2.544 1.213-2.894c.319-.344.694-.431.925-.431s.462 0 .662.012c.213.012.5-.081.781.594.288.694.981 2.4 1.069 2.575s.144.375.031.606c-.663 1.325-1.375 1.281-1.019 1.894 1.344 2.306 2.681 3.106 4.719 4.125.344.175.55.144.75-.088.206-.238.869-1.012 1.1-1.363s.462-.294.781-.175c.319.113 2.025.95 2.369 1.125z"
                ></path></svg
              >
            </a>
          </li>
        </ul>
      </div>
      <!-- Banner comercial -->
      <div
        id="div-gpt-ad-4222133-1"
        class="google-ads bg-[#a1a1a1b8] w-full h-[100px] relative"
        data-code="@adsDomain/responsive_portada_leaderboard_1"
        data-sizes='[{\"width\":728,\"height\":90},{\"width\":970,\"height\":90},{\"width\":320,\"height\":100},{\"width\":320,\"height\":50}]'
      >
        <div
          class="google-ads__temporal absolute top-2/4 left-2/4 -translate-y-2 -translate-x-2/4 z-0"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="fill-none stoke-[#1b1b1bbf]"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M3 5m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z"
            ></path><path d="M7 15v-4a2 2 0 0 1 4 0v4"></path><path
              d="M7 13l4 0"></path><path d="M17 9v6h-1.5a1.5 1.5 0 1 1 1.5 -1.5"
            ></path></svg
          >
        </div>
      </div>
    </div>
  </div>
  <!-- video relacionado  -->
  <section
    class="mx-auto flex 2xl:justify-between mb-20 space-y-10 lg:space-y-0 justify-center lg:gap-[45px] items-start w-full xl:max-w-[1100px] 2xl:max-w-[1300px] flex-col"
  >
    <div
      class="w-full !border-[--secundary-color] pt-10 pb-4 border-t-4 border-b self-center my-10"
    >
      <h2 id="video" class="text-left text-3xl font-extrabold">
        Videos Relacionados
      </h2>
    </div>
    <Swiper
      className="mx-auto mt-5 w-full h-[300px] "
      navigation={'{"Type":"normal", "ClassName":"" ,"ClassNext":"text-white bg-guardsman-red-700 rounded-full","ClassPrev": "text-white bg-guardsman-red-700 rounded-full"}'}
      options={'{"loop":true,"speed":1000,"slidesPerView":1,"modules": ["Autoplay","Pagination","Navigation"],"spaceBetween": 30,"observer":true,"observeParents":true,"breakpoints":{"320":{"slidesPerView":1},"944":{"slidesPerView":3},"1200":{"slidesPerView":3}}}'}
    >
      <SwiperItem className="swiper-slide w-full md:w-[48%] mr-[10px]">
        <ItemVideoNews
          datetime="23/04/2024"
          className="w-full h-full"
          category="Internacional"
          categoryColor="category_03"
          title="Descubre el significado y origen del ingrediente Naruto en el popular platillo japonés Ramen"
          href="#"
        >
          <ImageLazy
            src="https://gf-tvoainews.s3.amazonaws.com/images/c26871d4-c46e-4fa8-b045-9660e05da4db.webp"
            width="500"
            height="731"
            className="group-hover/zoom:scale-125 transition-all duration-[2s] cursor-pointer pt-[132.15%] sm:pt-[124.15%] w-full relative"
            classNameImage="object-cover h-full"
            slot="image"
          />
        </ItemVideoNews>
      </SwiperItem>
      <SwiperItem className="swiper-slide w-full md:w-[48%] mr-[10px]">
        <ItemVideoNews
          datetime="23/04/2024"
          className="w-full h-full"
          category="Internacional"
          categoryColor="category_03"
          title="Descubre el significado y origen del ingrediente Naruto en el popular platillo japonés Ramen"
          href="#"
        >
          <ImageLazy
            src="https://gf-tvoainews.s3.amazonaws.com/images/c26871d4-c46e-4fa8-b045-9660e05da4db.webp"
            width="500"
            height="731"
            className="group-hover/zoom:scale-125 transition-all duration-[2s] cursor-pointer pt-[132.15%] sm:pt-[124.15%] w-full relative"
            classNameImage="object-cover h-full"
            slot="image"
          />
        </ItemVideoNews>
      </SwiperItem>
      <SwiperItem className="swiper-slide w-full md:w-[48%] mr-[10px]">
        <ItemVideoNews
          datetime="23/04/2024"
          className="w-full h-full"
          category="Internacional"
          categoryColor="category_03"
          title="Descubre el significado y origen del ingrediente Naruto en el popular platillo japonés Ramen"
          href="#"
        >
          <ImageLazy
            src="https://gf-tvoainews.s3.amazonaws.com/images/c26871d4-c46e-4fa8-b045-9660e05da4db.webp"
            width="500"
            height="731"
            className="group-hover/zoom:scale-125 transition-all duration-[2s] cursor-pointer pt-[132.15%] sm:pt-[124.15%] w-full relative"
            classNameImage="object-cover h-full"
            slot="image"
          />
        </ItemVideoNews>
      </SwiperItem>
      <SwiperItem className="swiper-slide w-full md:w-[48%] mr-[10px]">
        <ItemVideoNews
          datetime="23/04/2024"
          className="w-full h-full"
          category="Internacional"
          categoryColor="category_03"
          title="Descubre el significado y origen del ingrediente Naruto en el popular platillo japonés Ramen"
          href="#"
        >
          <ImageLazy
            src="https://gf-tvoainews.s3.amazonaws.com/images/c26871d4-c46e-4fa8-b045-9660e05da4db.webp"
            width="500"
            height="731"
            className="group-hover/zoom:scale-125 transition-all duration-[2s] cursor-pointer pt-[132.15%] sm:pt-[124.15%] w-full relative"
            classNameImage="object-cover h-full"
            slot="image"
          />
        </ItemVideoNews>
      </SwiperItem>
    </Swiper>
    <!-- Banner comercial -->
    <div
      id="div-gpt-ad-4222133-1"
      class="google-ads bg-[#a1a1a1b8] w-full h-[100px] relative"
      data-code="@adsDomain/responsive_portada_leaderboard_1"
      data-sizes='[{\"width\":728,\"height\":90},{\"width\":970,\"height\":90},{\"width\":320,\"height\":100},{\"width\":320,\"height\":50}]'
    >
      <div
        class="google-ads__temporal absolute top-2/4 left-2/4 -translate-y-2 -translate-x-2/4 z-0"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="fill-none stoke-[#1b1b1bbf]"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M3 5m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z"
          ></path><path d="M7 15v-4a2 2 0 0 1 4 0v4"></path><path d="M7 13l4 0"
          ></path><path d="M17 9v6h-1.5a1.5 1.5 0 1 1 1.5 -1.5"></path></svg
        >
      </div>
    </div>
    <Swiper
      className="mx-auto mt-5 w-full h-[300px] "
      navigation={'{"Type":"normal", "ClassName":"" ,"ClassNext":"text-white bg-guardsman-red-700 rounded-full","ClassPrev": "text-white bg-guardsman-red-700 rounded-full"}'}
      options={'{"loop":true,"speed":1000,"slidesPerView":1,"modules": ["Autoplay","Pagination","Navigation"],"spaceBetween": 30,"observer":true,"observeParents":true,"breakpoints":{"320":{"slidesPerView":1},"944":{"slidesPerView":3},"1200":{"slidesPerView":3}}}'}
    >
      <SwiperItem className="swiper-slide w-full md:w-[48%] mr-[10px]">
        <ItemVideoNews
          datetime="23/04/2024"
          className="w-full h-full"
          category="Internacional"
          categoryColor="category_03"
          title="Descubre el significado y origen del ingrediente Naruto en el popular platillo japonés Ramen"
          href="#"
        >
          <ImageLazy
            src="https://gf-tvoainews.s3.amazonaws.com/images/c26871d4-c46e-4fa8-b045-9660e05da4db.webp"
            width="500"
            height="731"
            className="group-hover/zoom:scale-125 transition-all duration-[2s] cursor-pointer pt-[132.15%] sm:pt-[124.15%] w-full relative"
            classNameImage="object-cover h-full"
            slot="image"
          />
        </ItemVideoNews>
      </SwiperItem>
      <SwiperItem className="swiper-slide w-full md:w-[48%] mr-[10px]">
        <ItemVideoNews
          datetime="23/04/2024"
          className="w-full h-full"
          category="Internacional"
          categoryColor="category_03"
          title="Descubre el significado y origen del ingrediente Naruto en el popular platillo japonés Ramen"
          href="#"
        >
          <ImageLazy
            src="https://gf-tvoainews.s3.amazonaws.com/images/c26871d4-c46e-4fa8-b045-9660e05da4db.webp"
            width="500"
            height="731"
            className="group-hover/zoom:scale-125 transition-all duration-[2s] cursor-pointer pt-[132.15%] sm:pt-[124.15%] w-full relative"
            classNameImage="object-cover h-full"
            slot="image"
          />
        </ItemVideoNews>
      </SwiperItem>
      <SwiperItem className="swiper-slide w-full md:w-[48%] mr-[10px]">
        <ItemVideoNews
          datetime="23/04/2024"
          className="w-full h-full"
          category="Internacional"
          categoryColor="category_03"
          title="Descubre el significado y origen del ingrediente Naruto en el popular platillo japonés Ramen"
          href="#"
        >
          <ImageLazy
            src="https://gf-tvoainews.s3.amazonaws.com/images/c26871d4-c46e-4fa8-b045-9660e05da4db.webp"
            width="500"
            height="731"
            className="group-hover/zoom:scale-125 transition-all duration-[2s] cursor-pointer pt-[132.15%] sm:pt-[124.15%] w-full relative"
            classNameImage="object-cover h-full"
            slot="image"
          />
        </ItemVideoNews>
      </SwiperItem>
      <SwiperItem className="swiper-slide w-full md:w-[48%] mr-[10px]">
        <ItemVideoNews
          datetime="23/04/2024"
          className="w-full h-full"
          category="Internacional"
          categoryColor="category_03"
          title="Descubre el significado y origen del ingrediente Naruto en el popular platillo japonés Ramen"
          href="#"
        >
          <ImageLazy
            src="https://gf-tvoainews.s3.amazonaws.com/images/c26871d4-c46e-4fa8-b045-9660e05da4db.webp"
            width="500"
            height="731"
            className="group-hover/zoom:scale-125 transition-all duration-[2s] cursor-pointer pt-[132.15%] sm:pt-[124.15%] w-full relative"
            classNameImage="object-cover h-full"
            slot="image"
          />
        </ItemVideoNews>
      </SwiperItem>
    </Swiper>
  </section>
</LayoutPost>
<style is:global>
  #blog iframe{
    width: 100%;
    height: 500px;
}
@media (min-width: 768px) {
  #blog iframe{
    height: 400px;
}
}
@media (min-width: 1024px) {
  #blog iframe{
    height: 500px;
}
}
@media (min-width: 1280px) {
  #blog iframe{
    height: 600px;
}
}
</style>