---
import ImageLazy from "@components/extras/ImageLazy.astro";
import ItemNews from "@components/extras/ItemNews.astro";
import Layout from "@src/layouts/Layout.astro";
import ItemNewsWithDesc from "@components/extras/ItemNewsWithDesc.astro";
---

<Layout title="Resultados">
  <section
    class="resultados__grid mt-20"
  >
  <ItemNewsWithDesc
  Options={'{"LinkContainer":{"ClassName":" "},"AssetsContainer":{"ClassName":"relative w-full w-full overflow-hidden","HasFlag":false,"Flag":{"ClassName":""},"ImageContainer":{"ClassName":"load-image-container block relative h-0","HasWatermark":false,"Image":{"ClassName":"lazy absolute top-0 left-0 w-full h-full object-cover object-center group-hover:scale-125 ease-in-out duration-500 transition-transform"}}},"DataContainer":{"ClassName":"flex flex-wrap gap-2 w-full","Date":{"ClassName":"order-1 text-xs mb-3","Icon":{"ClassName":""}},"Time":{"ClassName":"","Icon":{"ClassName":""}},"Title":{"ClassName":"order-0 text-lg mb-5"},"Content":{"ClassName":"order-2 text-sm"}}}'}
  className="w-full "
  attributes={'{"data-aos":"fade-left"}'}
  category=""
  title="Descubre el significado y origen del ingrediente Naruto en el popular platillo japonés Ramen"
  content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
  datetime="22/04/2024"
  href="#"
  categoryColor="category_03"
>
  <ImageLazy
    src="https://gf-tvoainews.s3.amazonaws.com/images/5d823efb-9175-4ee5-8ce5-2404b8264518.jpg"
    width="600"
    height="375"
    className="group-hover:scale-125 ease-in-out duration-500 transition-transform cursor-pointer pt-[62.5%] w-full relative"
    classNameImage="h-full object-cover object-center"
    slot="image"
  />
</ItemNewsWithDesc>
  <ItemNewsWithDesc
  Options={'{"LinkContainer":{"ClassName":" "},"AssetsContainer":{"ClassName":"relative w-full w-full overflow-hidden","HasFlag":false,"Flag":{"ClassName":""},"ImageContainer":{"ClassName":"load-image-container block relative h-0","HasWatermark":false,"Image":{"ClassName":"lazy absolute top-0 left-0 w-full h-full object-cover object-center group-hover:scale-125 ease-in-out duration-500 transition-transform"}}},"DataContainer":{"ClassName":"flex flex-wrap gap-2 w-full","Date":{"ClassName":"order-1 text-xs mb-3","Icon":{"ClassName":""}},"Time":{"ClassName":"","Icon":{"ClassName":""}},"Title":{"ClassName":"order-0 text-lg mb-5"},"Content":{"ClassName":"order-2 text-sm"}}}'}
  className="w-full "
  attributes={'{"data-aos":"fade-left"}'}
  category=""
  title="Descubre el significado y origen del ingrediente Naruto en el popular platillo japonés Ramen"
  content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
  datetime="22/04/2024"
  href="#"
  categoryColor="category_03"
>
  <ImageLazy
    src="https://gf-tvoainews.s3.amazonaws.com/images/5d823efb-9175-4ee5-8ce5-2404b8264518.jpg"
    width="600"
    height="375"
    className="group-hover:scale-125 ease-in-out duration-500 transition-transform cursor-pointer pt-[62.5%] w-full relative"
    classNameImage="h-full object-cover object-center"
    slot="image"
  />
</ItemNewsWithDesc>
  <ItemNewsWithDesc
  Options={'{"LinkContainer":{"ClassName":" "},"AssetsContainer":{"ClassName":"relative w-full w-full overflow-hidden","HasFlag":false,"Flag":{"ClassName":""},"ImageContainer":{"ClassName":"load-image-container block relative h-0","HasWatermark":false,"Image":{"ClassName":"lazy absolute top-0 left-0 w-full h-full object-cover object-center group-hover:scale-125 ease-in-out duration-500 transition-transform"}}},"DataContainer":{"ClassName":"flex flex-wrap gap-2 w-full","Date":{"ClassName":"order-1 text-xs mb-3","Icon":{"ClassName":""}},"Time":{"ClassName":"","Icon":{"ClassName":""}},"Title":{"ClassName":"order-0 text-lg mb-5"},"Content":{"ClassName":"order-2 text-sm"}}}'}
  className="w-full "
  attributes={'{"data-aos":"fade-left"}'}
  category=""
  title="Descubre el significado y origen del ingrediente Naruto en el popular platillo japonés Ramen"
  content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
  datetime="22/04/2024"
  href="#"
  categoryColor="category_03"
>
  <ImageLazy
    src="https://gf-tvoainews.s3.amazonaws.com/images/5d823efb-9175-4ee5-8ce5-2404b8264518.jpg"
    width="600"
    height="375"
    className="group-hover:scale-125 ease-in-out duration-500 transition-transform cursor-pointer pt-[62.5%] w-full relative"
    classNameImage="h-full object-cover object-center"
    slot="image"
  />
</ItemNewsWithDesc>
  <ItemNewsWithDesc
  Options={'{"LinkContainer":{"ClassName":" "},"AssetsContainer":{"ClassName":"relative w-full w-full overflow-hidden","HasFlag":false,"Flag":{"ClassName":""},"ImageContainer":{"ClassName":"load-image-container block relative h-0","HasWatermark":false,"Image":{"ClassName":"lazy absolute top-0 left-0 w-full h-full object-cover object-center group-hover:scale-125 ease-in-out duration-500 transition-transform"}}},"DataContainer":{"ClassName":"flex flex-wrap gap-2 w-full","Date":{"ClassName":"order-1 text-xs mb-3","Icon":{"ClassName":""}},"Time":{"ClassName":"","Icon":{"ClassName":""}},"Title":{"ClassName":"order-0 text-lg mb-5"},"Content":{"ClassName":"order-2 text-sm"}}}'}
  className="w-full "
  attributes={'{"data-aos":"fade-left"}'}
  category=""
  title="Descubre el significado y origen del ingrediente Naruto en el popular platillo japonés Ramen"
  content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
  datetime="22/04/2024"
  href="#"
  categoryColor="category_03"
>
  <ImageLazy
    src="https://gf-tvoainews.s3.amazonaws.com/images/5d823efb-9175-4ee5-8ce5-2404b8264518.jpg"
    width="600"
    height="375"
    className="group-hover:scale-125 ease-in-out duration-500 transition-transform cursor-pointer pt-[62.5%] w-full relative"
    classNameImage="h-full object-cover object-center"
    slot="image"
  />
</ItemNewsWithDesc>
  <ItemNewsWithDesc
  Options={'{"LinkContainer":{"ClassName":" "},"AssetsContainer":{"ClassName":"relative w-full w-full overflow-hidden","HasFlag":false,"Flag":{"ClassName":""},"ImageContainer":{"ClassName":"load-image-container block relative h-0","HasWatermark":false,"Image":{"ClassName":"lazy absolute top-0 left-0 w-full h-full object-cover object-center group-hover:scale-125 ease-in-out duration-500 transition-transform"}}},"DataContainer":{"ClassName":"flex flex-wrap gap-2 w-full","Date":{"ClassName":"order-1 text-xs mb-3","Icon":{"ClassName":""}},"Time":{"ClassName":"","Icon":{"ClassName":""}},"Title":{"ClassName":"order-0 text-lg mb-5"},"Content":{"ClassName":"order-2 text-sm"}}}'}
  className="w-full "
  attributes={'{"data-aos":"fade-left"}'}
  category=""
  title="Descubre el significado y origen del ingrediente Naruto en el popular platillo japonés Ramen"
  content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
  datetime="22/04/2024"
  href="#"
  categoryColor="category_03"
>
  <ImageLazy
    src="https://gf-tvoainews.s3.amazonaws.com/images/5d823efb-9175-4ee5-8ce5-2404b8264518.jpg"
    width="600"
    height="375"
    className="group-hover:scale-125 ease-in-out duration-500 transition-transform cursor-pointer pt-[62.5%] w-full relative"
    classNameImage="h-full object-cover object-center"
    slot="image"
  />
</ItemNewsWithDesc>
  <ItemNewsWithDesc
  Options={'{"LinkContainer":{"ClassName":" "},"AssetsContainer":{"ClassName":"relative w-full w-full overflow-hidden","HasFlag":false,"Flag":{"ClassName":""},"ImageContainer":{"ClassName":"load-image-container block relative h-0","HasWatermark":false,"Image":{"ClassName":"lazy absolute top-0 left-0 w-full h-full object-cover object-center group-hover:scale-125 ease-in-out duration-500 transition-transform"}}},"DataContainer":{"ClassName":"flex flex-wrap gap-2 w-full","Date":{"ClassName":"order-1 text-xs mb-3","Icon":{"ClassName":""}},"Time":{"ClassName":"","Icon":{"ClassName":""}},"Title":{"ClassName":"order-0 text-lg mb-5"},"Content":{"ClassName":"order-2 text-sm"}}}'}
  className="w-full "
  attributes={'{"data-aos":"fade-left"}'}
  category=""
  title="Descubre el significado y origen del ingrediente Naruto en el popular platillo japonés Ramen"
  content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
  datetime="22/04/2024"
  href="#"
  categoryColor="category_03"
>
  <ImageLazy
    src="https://gf-tvoainews.s3.amazonaws.com/images/5d823efb-9175-4ee5-8ce5-2404b8264518.jpg"
    width="600"
    height="375"
    className="group-hover:scale-125 ease-in-out duration-500 transition-transform cursor-pointer pt-[62.5%] w-full relative"
    classNameImage="h-full object-cover object-center"
    slot="image"
  />
</ItemNewsWithDesc>
  <ItemNewsWithDesc
  Options={'{"LinkContainer":{"ClassName":" "},"AssetsContainer":{"ClassName":"relative w-full w-full overflow-hidden","HasFlag":false,"Flag":{"ClassName":""},"ImageContainer":{"ClassName":"load-image-container block relative h-0","HasWatermark":false,"Image":{"ClassName":"lazy absolute top-0 left-0 w-full h-full object-cover object-center group-hover:scale-125 ease-in-out duration-500 transition-transform"}}},"DataContainer":{"ClassName":"flex flex-wrap gap-2 w-full","Date":{"ClassName":"order-1 text-xs mb-3","Icon":{"ClassName":""}},"Time":{"ClassName":"","Icon":{"ClassName":""}},"Title":{"ClassName":"order-0 text-lg mb-5"},"Content":{"ClassName":"order-2 text-sm"}}}'}
  className="w-full "
  attributes={'{"data-aos":"fade-left"}'}
  category=""
  title="Descubre el significado y origen del ingrediente Naruto en el popular platillo japonés Ramen"
  content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
  datetime="22/04/2024"
  href="#"
  categoryColor="category_03"
>
  <ImageLazy
    src="https://gf-tvoainews.s3.amazonaws.com/images/5d823efb-9175-4ee5-8ce5-2404b8264518.jpg"
    width="600"
    height="375"
    className="group-hover:scale-125 ease-in-out duration-500 transition-transform cursor-pointer pt-[62.5%] w-full relative"
    classNameImage="h-full object-cover object-center"
    slot="image"
  />
</ItemNewsWithDesc>
  <ItemNewsWithDesc
  Options={'{"LinkContainer":{"ClassName":" "},"AssetsContainer":{"ClassName":"relative w-full w-full overflow-hidden","HasFlag":false,"Flag":{"ClassName":""},"ImageContainer":{"ClassName":"load-image-container block relative h-0","HasWatermark":false,"Image":{"ClassName":"lazy absolute top-0 left-0 w-full h-full object-cover object-center group-hover:scale-125 ease-in-out duration-500 transition-transform"}}},"DataContainer":{"ClassName":"flex flex-wrap gap-2 w-full","Date":{"ClassName":"order-1 text-xs mb-3","Icon":{"ClassName":""}},"Time":{"ClassName":"","Icon":{"ClassName":""}},"Title":{"ClassName":"order-0 text-lg mb-5"},"Content":{"ClassName":"order-2 text-sm"}}}'}
  className="w-full "
  attributes={'{"data-aos":"fade-left"}'}
  category=""
  title="Descubre el significado y origen del ingrediente Naruto en el popular platillo japonés Ramen"
  content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
  datetime="22/04/2024"
  href="#"
  categoryColor="category_03"
>
  <ImageLazy
    src="https://gf-tvoainews.s3.amazonaws.com/images/5d823efb-9175-4ee5-8ce5-2404b8264518.jpg"
    width="600"
    height="375"
    className="group-hover:scale-125 ease-in-out duration-500 transition-transform cursor-pointer pt-[62.5%] w-full relative"
    classNameImage="h-full object-cover object-center"
    slot="image"
  />
</ItemNewsWithDesc>
  <ItemNewsWithDesc
  Options={'{"LinkContainer":{"ClassName":" "},"AssetsContainer":{"ClassName":"relative w-full w-full overflow-hidden","HasFlag":false,"Flag":{"ClassName":""},"ImageContainer":{"ClassName":"load-image-container block relative h-0","HasWatermark":false,"Image":{"ClassName":"lazy absolute top-0 left-0 w-full h-full object-cover object-center group-hover:scale-125 ease-in-out duration-500 transition-transform"}}},"DataContainer":{"ClassName":"flex flex-wrap gap-2 w-full","Date":{"ClassName":"order-1 text-xs mb-3","Icon":{"ClassName":""}},"Time":{"ClassName":"","Icon":{"ClassName":""}},"Title":{"ClassName":"order-0 text-lg mb-5"},"Content":{"ClassName":"order-2 text-sm"}}}'}
  className="w-full "
  attributes={'{"data-aos":"fade-left"}'}
  category=""
  title="Descubre el significado y origen del ingrediente Naruto en el popular platillo japonés Ramen"
  content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
  datetime="22/04/2024"
  href="#"
  categoryColor="category_03"
>
  <ImageLazy
    src="https://gf-tvoainews.s3.amazonaws.com/images/5d823efb-9175-4ee5-8ce5-2404b8264518.jpg"
    width="600"
    height="375"
    className="group-hover:scale-125 ease-in-out duration-500 transition-transform cursor-pointer pt-[62.5%] w-full relative"
    classNameImage="h-full object-cover object-center"
    slot="image"
  />
</ItemNewsWithDesc>

  </section>
  <div class="w-full py-10">
    <ul class="pagination flex pl-0 list-none justify-center gap-2">
      <li>
        <a
          class="group/pag transition-all inline-flex w-12 h-12 items-center justify-center relative px-3 py-1 rounded-full hover:bg-[--neutral-variant-color]"
          href="/search/1/?q=amlo"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="fill-[--guardsman-red-700] group-hover/pag:fill-black transition-all"
            width="12"
            height="24"
            viewBox="0 0 16 32"
            ><path
              d="m1.981 14.938 8.5-8.5a1.493 1.493 0 0 1 2.119 0l1.413 1.412a1.495 1.495 0 0 1 0 2.119L7.994 16l6.025 6.025a1.493 1.493 0 0 1 0 2.119l-1.412 1.419a1.493 1.493 0 0 1-2.119 0l-8.5-8.5a1.495 1.495 0 0 1-.006-2.125z"
            ></path></svg
          >
        </a>
      </li>
      <li>
        <a
          class="inline-flex w-12 h-12 items-center justify-center text-white font-bold hover:bg-black transition-all relative bg-guardsman-red-800 px-3 py-1 rounded-full"
          href="/search/1/?q=amlo"
        >
          1
        </a>
      </li>
      <li>
        <a
          class="inline-flex w-12 h-12 items-center justify-center text-[--secundary-color] bg-[--neutral-variant-color] transition-all relative hover:text-[--primary-text-color] hover:bg-white px-3 py-1 rounded-full"
          href="/search/1/?q=amlo"
        >
          2
        </a>
      </li>

      <li>
        <a
          class="inline-flex w-12 h-12 items-center justify-center text-white font-bold hover:bg-black  transition-all relative bg-guardsman-red-800 px-3 py-1 rounded-full"
          href="/search/1/?q=amlo"
        >
          100
        </a>
      </li>

      <li>
        <a
          class="group/pag transition-all inline-flex w-12 h-12 items-center justify-center relative px-3 py-1 rounded-full hover:bg-[--neutral-variant-color]"
          href="/search/1/?q=amlo"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="fill-[--guardsman-red-700] group-hover/pag:fill-black transition-all"
            width="12"
            height="24"
            viewBox="0 0 16 32"
            ><path
              d="m14.019 17.063-8.5 8.5a1.493 1.493 0 0 1-2.119 0l-1.413-1.412a1.495 1.495 0 0 1 0-2.119l6.025-6.025-6.025-6.025a1.495 1.495 0 0 1 0-2.119l1.406-1.425a1.493 1.493 0 0 1 2.119 0l8.5 8.5c.594.588.594 1.537.006 2.125z"
            ></path></svg
          >
        </a>
      </li>
    </ul>
  </div>

  <section
    class="px-3.5 flex flex-wrap justify-between lg:max-w-screen-lg m-auto md:max-w-screen-md mt-10 pb-10"
  >
    <div class="w-full sm:w-[48%] ml-0 sm:ml-[2%]">
      <ImageLazy
        src="https://www.tvoainews.com/img/search_not-found_404.png"
        width="540"
        height="348"
        className="pt-[64%] w-full relative"
      />
    </div>
    <div
      class="w-full sm:w-[48%] ml-0 sm:ml-[2%] flex flex-col justify-center items-center md:items-start"
    >
      <h1
        class="text-center md:text-start text-[--primary-text-color] mb-5 font-sans font-bold p-0 text-4xl w-full after:content-[''] after:w-10 after:h-full after:absolute after:ml-2.5 after:bg-contain after:bg-no-repeat after:bg-titleOrnament relative"
      >
        No se han encontrado resultados
      </h1>
      <p>Las búsqueda no ha generado resultados</p>
      <a
        href="/"
        target="_blank"
        class="group px-3 mt-2 rounded-full inline-flex gap-2 flex-nowrap w-auto py-2 items-center font-bold border-[--guardsman-red-800] text-[--guardsman-red-800]  border-solid border-[1px] uppercase cursor-pointer text-sm tracking-wider hover:text-white  hover:font-bold hover:bg-[--button-hover] hover:from-[--primary-color] hover:to-[--primary-color] transition-all duration-500 ease-in-out hover:transition-all hover:duration-500 hover:ease-in-out"
      >
        Ver más noticias
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="group-hover:fill-[--secundary-color] group-hover:font-bold transition-transform duration-300 ease-in-out transform translate-x-0 group-hover:translate-x-2"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-right"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M5 12l14 0"></path><path d="M13 18l6 -6"></path><path
            d="M13 6l6 6"></path>
        </svg>
      </a>
    </div>
  </section>
</Layout>

<style>
    .resultados__grid{
        width: 100%;
        max-width: 1150px;
        place-content: center;
        display:grid;
        grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
        grid-template-rows: auto;
        gap: 1.5rem;
    }

</style>