---
import Layout from "../layouts/Layout.astro";
import ItemNews from "@components/extras/ItemNews.astro";
import ImageLazy from "@components/extras/ImageLazy.astro";
import ItemNewsWithDesc from "@components/extras/ItemNewsWithDesc.astro";
import Swiper from "@components/extras/Swiper.astro";
import SwiperItem from "@components/extras/SwiperItem.astro";
import ItemVideoNews from "@components/extras/ItemVideoNews.astro";
import Button from "@components/atoms/Button/Button.astro";

// TODO: TRINIDAD TEST COMPONENTES Y LENGUAJE
import CardPostMedium from "@components/atoms/CardPostMedium/CardPostMedium.astro";
import CardPostPrincipal from "@components/atoms/CardPostPrincipal/CardPostPrincipal.astro";
import CardPostMain from "@components/atoms/CardPostSecundary/CardPostMain.astro";
import CardPostSecundary from "@components/atoms/CardPostSecundary/CardPostSecundary.astro";
import CardPostSmall from "@components/atoms/CardPostSmall/CardPostSmall.astro";
import NavMenu from "@components/atoms/NavMenu/NavMenu.astro";
import TranslateText from "@src/customs/TranslateText";
// en las card ver que chow con el lang de los alt y no se que es esto => excerpt
// TODO: VER QUE ONDA CON LA CARPETA formAtoms y sus componentes
// TODO: indicadoresCarousel (error en el response)
// TODO: searchInput
// TODO: suscribeForm => no se traduce el texto de los errores... eso viene de un controlador... no veo cómo cacharlos..
// TODO: carouselVideos => alt




---

<Layout>

  <section>

    <h3 style="margin: '50px 0'">TRINIDAD TEST</h3>

    <!-- <Button
          text={<TranslateText  />}
          ID="send-btn"
          type="submit"
          clase="w-full h-full"
        /> -->

    <!-- <DropdownLevel 
    dropdown={
        [
          {
            text: 'item 1',
            elements: [
              {
                url: '',
                text: 'sub 1.0'
              },
              {
                url: '',
                text: 'sub 1.1'
              }
            ]
          },
          {
            text: 'item 2',
            elements: [
              {
                url: '',
                text: 'sub 2.0'
              },
              {
                url: '',
                text: 'sub 2.1'
              }
            ]
          }
        ]
      }
    url=""
    text="MENUUU"
    id="1"
    
    /> -->
    
    <!-- <CardPostMedium 
    link= '', 
    title= 'TITULO',
    image = 'https://ih1.redbubble.net/image.3580500141.6650/flat,750x,075,f-pad,750x1000,f8f8f8.jpg',
    altdesc = 'ALT DESCRIPCIÓN',
    autor = 'AUTOR',
    date = '',
    slot = false
    client:load
    /> -->



  </section>
</Layout>
<style>
  .articles__small {
    min-height: 32dvh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    @media (width <= 768px) {
      min-height: 80dvh;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      gap: 1rem;
    }
  }
</style>
