---
const {text="your text"} = Astro.props;
---

<button class="bg-[--button-base] hover:bg-[--button-hover] :activebg-[--button-active] text-[--button-color] font-bold px-4 py-1 rounded-[7px]">
    {text}
</button>
