
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-wrapper{
  max-width: 1300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.swiper-slide .swiper-slide-active{
  max-height: 260px;
}

.swiper {
  width: 100%;
  height: 300px;
  margin: 20px 0;
}