
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-wrapper{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}



/* .swiper-slide .swiper-slide-active{

} */

.swiper {
  width: 100%;
  height: 300px;
  margin: 20px 0;
}