---
const {direction="flex-row" } = Astro.props;
---

<div
  class=`flex 2xl:justify-between space-y-10 lg:space-y-0 lg:justify-center lg:gap-[45px] items-start w-full max-w-[1300px]  flex-wrap  ${direction}`
>
  <div
    class="articles__main__container flex flex-col max-w-full lg:max-w-[600px] 2xl:max-w-[708px] h-auto space-y-4 xl:space-y-10 "
  >
    <slot name="card-principal" />
    <div class="border-b border-[--divider-secundary]"></div>
    <div class="articles__small">
      <slot name="card-small" />
    </div>
  </div>
  <div class="articles__secundary self-center flex flex-col justify-start items-stretch h-full 2xl:min-h-[928px] gap-10 lg:gap-[91px]">
    <slot name="card-medium" />
  </div>
</div>

<style>
  .articles__small {
    min-height: 40dvh;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    @media (width <= 768px) {
      min-height: 60dvh;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      gap: 6rem;
    }
  }
</style>
