---

---

<div class="flex w-full max-w-[1300px] justify-start items-start gap-[19px] flex-wrap">
    <slot name="primary-card"/>
        <div class="flex justify-center items-center gap-[28px] flex-wrap">
        <slot name="secondary-card"/>
    </div>

    </div>
</div>