---

---

<div class="flex w-full max-w-[1300px]">
    <div class="">
        <slot name="primary-card">
        <div class="flex justify-center items-center">
            <slot name="secundary-cards">
        </div>
    </div>

</div>