---
import Button from '@atoms/Button/Button.astro';
import WeatherPopover from '@atoms/Weather/WeatherPopover';
import SocialMediaIcons from '@components/atoms/SocialMediaIcons/SocialMediaIcons.astro';
---

<header
  id="top-bar"
  class="flex justify-between items-center bg-black text-white w-full mb-2 h-10 px-10"
>
  <div class="flex gap-3">
   <WeatherPopover client:only/>
  </div>
  <div class="indicadores__carousel">
    <span>MXN-USD 19.022</span>
  </div>
  <div class="social-media flex gap-2">
    <SocialMediaIcons/>
    <Button text="Suscríbete"/>
    <div class="icons"></div>
  </div>
</header>
